<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/manage-cards"></ion-back-button>
    </ion-buttons>
    <ion-title>Set Up Payments</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form #paymentForm="ngForm" (ngSubmit)="onSubmit(paymentForm)" [formGroup]="form" novalidate>
    <ion-list class="ion-padding">
      <ion-list-header>
        ADD PAYMENT METHOD
      </ion-list-header>

      <ion-item>
        <ion-label position="stacked">Card Number<ion-text color="danger">*</ion-text></ion-label>
        <ion-input id="cc-number" formControlName="creditCard" type="tel" autocomplete="cc-number" ccNumber [maxlength]="19" class="ion-input" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Expiration Date<ion-text color="danger">*</ion-text></ion-label>
        <ion-input id="cc-exp-date" formControlName="expirationDate" type="tel" autocomplete="cc-exp" ccExp required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">CVC<ion-text color="danger">*</ion-text></ion-label>
        <ion-input id="cc-cvc"  formControlName="cvc" type="tel" [maxlength]="3" autocomplete="off" ccCvc required></ion-input>
      </ion-item>

      <div class="ion-padding-top form-submit-button">
        <ion-button expand="block" type="submit" class="ion-no-margin">Submit</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
