<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color='primary' (click)="goToRequestForm()" [hidden]="!showSkip">Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="false">
    <ion-slide>
      <h2 class="slide-title">
        How To Request a
        <b>FAVR</b>
      </h2>
      <p>
        Swipe right to learn how to request your first task on FAVR
      </p>
      <img src="assets/brand/favr_logo_rd.png" class="slide-image" />
    </ion-slide>

    <ion-slide>
      <h2 class="slide-title">1. Select a Category</h2>
      <p>We have seven categories you can select from. Seasonal jobs like raking are currently our most popular. </p>
      <img src="assets/img/previews/img-1.png" class="slide-image" />
    </ion-slide>

    <ion-slide>
      <h2 class="slide-title">2. Describe the Job</h2>
      <p>Describe the little intricacies of your job so your freelancer knows what they need to complete.</p>
      <img src="assets/img/previews/img-2.png" class="slide-image" />
    </ion-slide>

    <ion-slide>
      <h2 class="slide-title">3. Set a Deadline</h2>
      <p>Select the day and time you want your job completed by.</p>
      <img src="assets/img/previews/img-3.png" class="slide-image" />
    </ion-slide>

    <ion-slide>
      <h2 class="slide-title">4. Select a Location</h2>
      <p>Input the address of the job,<br></p>
      <small> <i>Note: we do not share your address until a freelancer is accepted.</i></small>
      <br>
      <img src="assets/img/previews/img-4.png" class="slide-image" />
    </ion-slide>

    <ion-slide>
      <h2 class="slide-title">5. Attach images (optional)</h2>
      <p>Attach photos as this greatly helps the freelancer know what they need to get done, though this is optional.</p>
      <img src="assets/img/previews/img-5.png" class="slide-image" />
    </ion-slide>

    <ion-slide>
      <h2 class="slide-title">6. Select Difficulty</h2>
      <p>Select the difficulty of your job so freelancers know how tough the task at hand is.</p>
      <img src="assets/img/previews/img-6.png" class="slide-image" />
    </ion-slide>

    <ion-slide>
      <h2 class="slide-title">7. Set Your Price</h2>
      <p>Lastly, how much are you willing to spend to have the task completed?<br><br>
      </p>
      <small><i>Note: jobs with an unreasonable price will  likely receive no proposals and be ignored on the marketplace feed.</i></small>
      <br>
      <img src="assets/img/previews/img-7.png" class="slide-image" />
    </ion-slide>

    <ion-slide>
      <h2 class="slide-title">Request Your First FAVR!</h2>
      <ion-button fill="clear" (click)="goToRequestForm()">
        Continue
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
      <br>
      <img src="assets/img/previews/img-8.png" class="slide-image" />
    </ion-slide>
  </ion-slides>
</ion-content>
