<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" icon="arrow-back"  mode="md" defaultHref="/app/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Account Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding-start">
    <ion-list-header>
      <h6 class="text-bold">Temporary</h6>
    </ion-list-header>

    <ion-item (click)="deactivateAccount()">
      <ion-icon slot="start" name="alert" color="primary"></ion-icon>
      <ion-label color="danger">Deactivate My Account</ion-label>
      <ion-icon size="small" slot="end" color="danger" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list class="ion-padding-start">
    <ion-list-header>
      <h6 class="text-bold">Permanent</h6>
    </ion-list-header>

    <ion-item (click)="deleteAccount()">
      <ion-icon slot="start" name="nuclear" color="danger"></ion-icon>
      <ion-label color="danger">Delete My Account</ion-label>
      <ion-icon size="small" slot="end" color="danger" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
