<favr-page-header
  pageTitle="Notifications"
  [showSearchBar]="true"
  [routerOutlet]="routerOutlet"
></favr-page-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment">
    <ion-segment-button value="unread">
      <ion-label>Unread</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- List of Text Items -->
  <ng-container *ngIf="notifications; else skeletonNotifications">
    <ion-list *ngIf="notifications.length > 0; else noNotifications">
      <ion-item *ngFor="let notification of notifications; let i = index" [attr.data-index]="i" (click)="view(i, notification)" [class]="notificationClass">
        <ion-icon slot="start" name="notifications"></ion-icon>
        <ion-label>
          <h2>{{notification.data.title}}</h2>
          <p>{{notification.data.message}}</p>
        </ion-label>
        <ion-note>
          <small> {{notification.created_at | amFromUtc | amLocal |  amTimeAgo:true}} ago</small>
        </ion-note>
      </ion-item>
      <br>
      <br>
    </ion-list>
    <ng-template #noNotifications>
      <ion-title class="ion-text-center ion-margin-top">
        <img src="assets/img/monkey-face.png" alt="Nothing to see here" style="max-width: 75%">
      </ion-title>
    </ng-template>
  </ng-container>

  <ng-template #skeletonNotifications>
    <ion-list>
      <ion-item *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
