.label {
  overflow: visible;
}


.item {
  margin-left: 30;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.logout {
  margin-bottom: 20px;
}

.help-icon {
  border: 1px solid black;
  border-radius: 50%;
  background: var(--ion-color-secondary-tint);
}
