<favr-page-header *ngIf="subPage == 'signup-index'; else subPageHeader"
  [pageTitle]="pageTitle"
  [progress]="progress"
  [showProfile]="false"
  [showBackButton]="true"
></favr-page-header>

<ng-template #subPageHeader>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="back-button" float-left (click)="goBack()">
          <ion-icon no-margin no-padding size="large" name="arrow-back"></ion-icon>
          <div style="margin-left: -5px;">Back</div>
        </ion-button>
      </ion-buttons>
      <ion-title class="animated fadeIn">
        {{subPageTitle}}
      </ion-title>
      <ion-progress-bar *ngIf="progress" [value]="progress" [ngClass]="progress == 1 ? 'green-progress' : ''"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
</ng-template>

<ion-content>
  <ng-container [ngSwitch]="subPage">
    <form #signupForm="ngForm" novalidate>
      <ion-list *ngSwitchCase="'signup-index'">
        <ion-item href (click)="openSubPage('personal-info')">
          <ion-icon slot="start" name="contact"></ion-icon>
          Personal Information
          <div slot="end" *ngIf="signup.first_name
                          && signup.last_name
                          && signup.username
                          && signup.email
                          && signup.phone">
            <small>
              <ion-icon size="large" color="success" name="checkmark-circle" ariaLabel="task completed"></ion-icon>
            </small>
          </div>
        </ion-item>

        <ion-item href (click)="openSubPage('set-up-password')">
          <ion-icon slot="start" name="lock"></ion-icon>
          Set Up Password
          <div slot="end" *ngIf="signup.password
                          && signup.confirm_password
                          && signup.password === signup.confirm_password">
            <small>
              <ion-icon size="large" color="success" name="checkmark-circle" ariaLabel="task completed"></ion-icon>
            </small>
          </div>
        </ion-item>

        <ion-item href (click)="openSubPage('select-city')">
          <ion-icon slot="start" name="pin"></ion-icon>
          Select Your City
          <div slot="end" *ngIf="signup.city_id">
            <small>
              <ion-icon size="large" color="success" name="checkmark-circle" ariaLabel="task completed"></ion-icon>
            </small>
          </div>
        </ion-item>

        <div class="ion-padding-top form-submit-button">
          <ion-button (click)="onSignup(signupForm)"
            [disabled]="!signupForm.valid || progress < 1"
            type="submit"
            expand="block">
            Create Account
          </ion-button>
        </div>

        <div padding>
          <div margin-top text-center>
            <a class="hyperlink" routerLink="/login">Already Have An Account?</a>
          </div>
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'personal-info'">
        <ion-item class="input-item">
          <ion-label position="stacked">First Name</ion-label>
          <ion-input [(ngModel)]="signup.first_name"
                     #first_name="ngModel"
                     (ionChange)="updateProgress()"
                     name="first_name"
                     type="text"
                     spellcheck="false"
                     autocapitalize="on"
                     autocomplete="true"
                     required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="first_name.valid || submitted == false" class="ion-padding-start">
            First Name is required
          </p>
        </ion-text>

        <ion-item>
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input [(ngModel)]="signup.last_name"
                     #last_name="ngModel"
                     (ionChange)="updateProgress()"
                     name="last_name"
                     type="text"
                     spellcheck="false"
                     autocapitalize="on"
                     autocomplete="true"
                     required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="last_name.valid || submitted == false" class="ion-padding-start">
            Last Name is required
          </p>
        </ion-text>

        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input [(ngModel)]="signup.username"
                     #username="ngModel"
                     (ionChange)="updateProgress()"
                     name="username"
                     type="text"
                     spellcheck="false"
                     autocapitalize="off"
                     autocomplete="true"
                     placeholder="example123"
                     required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
            Username is required
          </p>
        </ion-text>

        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]="signup.email"
                     #email="ngModel"
                     (ionChange)="updateProgress()"
                     name="email"
                     type="email"
                     spellcheck="false"
                     autocapitalize="off"
                     autocomplete="true"
                     placeholder="example@askfavr.com"
                     required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
            Email is required
          </p>
        </ion-text>

        <ion-item>
          <ion-label position="stacked">Birthday (Optional)</ion-label>
          <ion-datetime [(ngModel)]="signup.birthday"
                        #birthday="ngModel"
                        (ionChange)="updateProgress()"
                        name="birthday"
                        [max]="maxYear"
                        [displayFormat]="'MMM DD, YYYY'"
          >
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Phone</ion-label>
          <ion-input [(ngModel)]="signup.phone"
                     [minlength]="14"
                     [maxlength]="14"
                     #phone="ngModel"
                     (ionChange)="updateProgress()"
                     name="phone"
                     type="tel"
                     spellcheck="false"
                     autocapitalize="off"
                     autocomplete="false"
                     placeholder="1234567890"
                     required>
          </ion-input>
        </ion-item>

        <ion-text color="danger">
          <p [hidden]="phone.valid || submitted == false" class="ion-padding-start">
            Phone Number is required
          </p>
        </ion-text>

        <ion-button *ngIf="first_name.valid
                          && last_name.valid
                          && username.valid
                          && email.valid
                          && phone.valid
                          && birthday.valid"
                    (click)="openSubPage('set-up-password')"
                    class="long-button">
          Tap to Continue
          <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-list>

      <ion-list *ngSwitchCase="'set-up-password'">
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input [(ngModel)]="signup.password"
                     #password="ngModel"
                     (ionChange)="updateProgress()"
                     name="password"
                     type="password"
                     autocomplete="false"
                     required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
            Password is required
          </p>
        </ion-text>

        <ion-item>
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input [(ngModel)]="signup.confirm_password"
                     #confirm_password="ngModel"
                     (ionChange)="updateProgress()"
                     name="password"
                     type="password"
                     required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="confirm_password.valid || submitted == false" class="ion-padding-start">
            Confirm Password is required
          </p>
          <p [hidden]="confirm_password.value !== password.value" class="ion-padding-start">
            Password and Confirm Password must match
          </p>
        </ion-text>

        <ion-button *ngIf="password.valid
                          && confirm_password.valid
                          && signup.password === signup.confirm_password"
                    (click)="openSubPage('select-city')"
                    class="long-button">
          Tap to Continue
          <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-list>

      <ion-list *ngSwitchCase="'select-city'">
        <ion-card *ngFor="let city of cities" style="border-radius: 2rem!important;">
          <ion-item style="padding-right: 0!important;">
            <h2>
              {{city.city}}, {{city.state}}
            </h2>
          </ion-item>

          <ion-slides>
            <ion-slide style="max-height: 200px;overflow-y: hidden;overflow-x: hidden;">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="assets/img/{{city.image}}">
            </ion-slide>
          </ion-slides>

          <ion-card-content>
            <p>{{city.description}}</p>
          </ion-card-content>

          <ion-row padding>
            <ion-col text-center>
              <ion-button  *ngIf="signup.city_id == city.id" color="success" expand="block" shape="round" disabled>
                <ion-icon name="checkmark" style="font-size: x-large;font-weight: bolder;"></ion-icon>
                Selected
              </ion-button>
              <ion-button  *ngIf="signup.city_id  != city.id" color="success" expand="block" shape="round" (click)="selectCity(city)">
                <ion-icon name="checkmark" style="font-size: x-large;font-weight: bolder;"></ion-icon>
                Select City
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-list>
    </form>
  </ng-container>

</ion-content>
