.form-submit-button {
  --padding-start: 16px;
}

.back-button {
  --padding-start: 0;
  --padding-end: 0;
  margin-inline-start: -5px
}

.signup-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.signup-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.swiper-container {
  overflow: unset;
}

ion-slide {
  height: available;
  display: block;
  text-align: left;
}

.green-progress {
  --progress-background: var(--ion-color-success);
}

@media(min-width: 612px) {
  ion-header {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
}
