<ion-card class="marketplace-card" *ngIf="mainMarketTask; else freelancerPastJob">

  <ion-slides [pager]="true">
    <ion-slide (click)="viewAttachedPhoto(mainMarketTask.image_one, 'Image 1')" class="marketplace-slide-image" *ngIf="mainMarketTask.image_one">
      <ion-img [src]="mainMarketTask.image_one" alt="image one"></ion-img>
    </ion-slide>

    <ion-slide (click)="viewAttachedPhoto(mainMarketTask.image_two, 'Image 2')" class="marketplace-slide-image" *ngIf="mainMarketTask.image_two">
      <ion-img [src]="mainMarketTask.image_two" alt="image two"></ion-img>
    </ion-slide>

    <ion-slide (click)="viewAttachedPhoto(mainMarketTask.image_three, 'Image 3')" class="marketplace-slide-image" *ngIf="mainMarketTask.image_three">
      <ion-img [src]="mainMarketTask.image_three" alt="image three"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-card-header>
    <ion-item detail="false" lines="isNone" routerLink="/app/profile/{{mainMarketTask.customer.id}}" routerDirection="forward">
      <ion-avatar slot="start">
        <img [src]="(mainMarketTask.customer.profile.image) ? mainMarketTask.customer.profile.image : '../../../../assets/img/user.png'" alt="profile picture">
      </ion-avatar>
      {{mainMarketTask.customer.first_name}} {{mainMarketTask.customer.last_name}}
      <div slot="end">
        <div class="marketplace-card-price-area">
          <div class="marketplace-card-price-tag">
            {{mainMarketTask.price | currency:'USD'}}
          </div>
        </div>
      </div>
    </ion-item>

    <ion-item detail="false" lines="isNone">
      <div slot="start">
        <small>
          <ng-container *ngIf="mainMarketTask.status !== TaskStatus.COMPLETE; else completedTime">
            <div class="complete-by-time">Needs Complete by {{mainMarketTask.isoFormat | date}}</div>
          </ng-container>

          <ng-template #completedTime>
            <div class="complete-by-time">Completed on {{mainMarketTask.proposals[0].complete_at | amFromUtc | amLocal | date: 'MMM dd, yyyy'}}</div>
          </ng-template>
          <ion-note class="note posted-time">
            Posted {{mainMarketTask.postedFormat | date}}
          </ion-note>
        </small>
      </div>
      <div slot="end" class="marketplace-card-distance-away">
        <ion-note *ngIf="mainMarketTask.distance_away != undefined && mainMarketTask.status != TaskStatus.COMPLETE">{{mainMarketTask.distance_away}} Miles</ion-note>
        <small *ngIf="mainMarketTask.status == TaskStatus.COMPLETE">
          <ion-icon size="large" color="success" name="checkmark-circle" ariaLabel="task completed"></ion-icon>
        </small>
      </div>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <div id="taskDescription" [innerHTML]="mainMarketTask.description"></div>
  </ion-card-content>

  <!--task actions-->

  <ion-row *ngIf="mainMarketTask.action == 2 || mainMarketTask.action == 3"
           class="ion-no-padding ion-justify-content-center">
    <ion-col class="ion-text-center">
      <ion-button *ngIf="mainMarketTask.action == 2"
                  (click)="freelancerAcceptTask()"
                  fill="outline"
                  size="small"
                  color="primary">
        <ion-icon name="thumbs-up" slot="start"></ion-icon>
        Accept
      </ion-button>

      <ion-button *ngIf="mainMarketTask.action == 3"
                  (click)="freelancerWithdrawTask()"
                  fill="outline"
                  size="small"
                  color="primary">
        <ion-icon name="thumbs-down" slot="start"></ion-icon>
        Withdraw
      </ion-button>
    </ion-col>

    <ion-col class="ion-text-center">
      <ion-button fill="outline" size="small" color="primary" (click)="loadMarketplaceDetail(mainMarketTask.id)" routerDirection="forward">
        <ion-icon name="eye" slot="start"></ion-icon>
        View
      </ion-button>
    </ion-col>

    <!--<ion-col *ngIf="mainMarketTask.status != TaskStatus.REQUESTED-->
                    <!--&& mainMarketTask.status != TaskStatus.PENDING_APPROVAL-->
                    <!--&& isFreelancer"-->
             <!--class="ion-text-center">-->
      <!--<ion-button fill="outline" size="small" color="primary" (click)="startChat(mainMarketTask.customer.username)">-->
        <!--<ion-icon name="chatbubbles" slot="start"></ion-icon>-->
        <!--Contact-->
      <!--</ion-button>-->
    <!--</ion-col>-->
  </ion-row>

  <ion-row *ngIf="mainMarketTask.action == 1"
           class="ion-no-padding ion-justify-content-center">
    <ion-col class="ion-text-center">
      <ion-button (click)="customerEditTask(mainMarketTask)" fill="outline" size="small" color="primary">
        <ion-icon name="create" slot="start"></ion-icon>
        Edit
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button fill="outline" size="small" color="primary" (click)="loadMarketplaceDetail(mainMarketTask.id)" routerDirection="forward">
        <ion-icon name="eye" slot="start"></ion-icon>
        View
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button (click)="customerCancelTask()"
                  fill="outline" size="small" color="primary">
        <ion-icon name="close" mode="md" slot="start"></ion-icon>
        Cancel
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="mainMarketTask.action == 4 || mainMarketTask.action == undefined || mainMarketTask.action == 9 || mainMarketTask.action == 11"
           class="ion-no-padding ion-justify-content-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button fill="outline" size="small" color="primary" (click)="loadMarketplaceDetail(mainMarketTask.id)" routerDirection="forward">
        <ion-icon name="eye" slot="start"></ion-icon>
        View
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<ng-template #freelancerPastJob>
  <ion-card *ngIf="pastJob; else skeletonCard" class="marketplace-card">
    <ion-slides [pager]="true">
      <ion-slide (click)="viewAttachedPhoto(pastJob.marketplace.image_one, 'Image 1')" class="marketplace-slide-image" *ngIf="pastJob.marketplace.image_one">
        <img [src]="pastJob.marketplace.image_one" alt="image one">
      </ion-slide>

      <ion-slide (click)="viewAttachedPhoto(pastJob.marketplace.image_two, 'Image 2')" class="marketplace-slide-image" *ngIf="pastJob.marketplace.image_two">
        <img [src]="pastJob.marketplace.image_two" alt="image two">
      </ion-slide>

      <ion-slide (click)="viewAttachedPhoto(pastJob.marketplace.image_one, 'Image 3')" class="marketplace-slide-image" *ngIf="pastJob.marketplace.image_three">
        <img [src]="pastJob.marketplace.image_three" alt="image three">
      </ion-slide>
    </ion-slides>

    <ion-card-header>
      <ion-item detail="false" lines="isNone" routerLink="/app/profile/{{pastJob.marketplace.customer.id}}" routerDirection="forward">
        <ion-avatar slot="start">
          <img [src]="(pastJob.marketplace.customer.profile.image) ? pastJob.marketplace.customer.profile.image : '../../../../assets/img/user.png'" alt="profile picture">
        </ion-avatar>
        {{pastJob.marketplace.customer.first_name}} {{pastJob.marketplace.customer.last_name}}
        <div slot="end">
          <div class="marketplace-card-price-area">
            <div class="marketplace-card-price-tag">
              {{pastJob.price | currency:'USD'}}
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item detail="false" lines="isNone">
        <div slot="start">
          <small>
            <div class="complete-by-time">Completed on {{pastJob.complete_at | amFromUtc | amLocal | date: 'MMM dd, yyyy'}}</div>
            <ion-note class="note posted-time">
              Posted {{pastJob.marketplace.postedFormat | date}}
            </ion-note>
          </small>
        </div>
        <div slot="end" class="marketplace-card-distance-away">
          <ion-icon size="large" color="success" name="checkmark-circle" ariaLabel="task completed"></ion-icon>
        </div>
      </ion-item>
    </ion-card-header>

    <ion-card-content text-center>
      <ng-template #star let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
        </span>
      </ng-template>

      <ngb-rating [(rate)]="pastJob.rating" [starTemplate]="star" [readonly]="true" max="5"></ngb-rating>
      <h1 *ngIf="pastJob.review" [style.font-size.%]="pastJob.review.length > 1000 ? 50 : ((pastJob.review.length > 100) ? 100 : 150)">
        <i>"{{pastJob.review}}"</i>
      </h1>
    </ion-card-content>

    <!--task actions-->
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button fill="outline" size="small" color="primary" (click)="loadMarketplaceDetail(pastJob.marketplace.id)" routerDirection="forward">
          <ion-icon name="eye" slot="start"></ion-icon>
          View
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ng-template>

<ng-template #skeletonCard>
  <ion-card class="marketplace-card">
    <ion-slides pager="true">
      <ion-slide class="marketplace-slide-image">
        <ion-skeleton-text animated style="height: 200px;width: 100%"></ion-skeleton-text>
      </ion-slide>
    </ion-slides>

    <ion-card-header>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-skeleton-text animated style="width: 80px;"></ion-skeleton-text>
      </ion-item>
    </ion-card-header>

    <ion-card-content text-center>
      <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ng-template>

