.scroll {
  background: #ededed;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #353535;
}

.full {
  color: gold;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gold;
}

.complete-by-time {
  display: block;
}

.hide,
[hidden],
template {
  display: block !important;
}

ion-slides {
  width: -webkit-fill-available;
}

ion-card-header {
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --inner-border-width: 0;
  }
}

.posted-time {
  display: block;
  float: left;
}

.marketplace-card {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}

@media(min-width: 612px) {
  .marketplace-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
}

.marketplace-card ion-card-header {
  padding: 0;
}

.marketplace-card ion-card-header .item {
  padding: 4px 16px;
}

.marketplace-card ion-card-content {
  flex: 1 1 auto;
  padding: 0;
}
