<favr-page-header
  [pageTitle]="'Friends'"
  [routerOutlet]="routerOutlet"
>
</favr-page-header>

<ion-content>
  <!-- Default Segment -->
  <!-- Icon end -->
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment">
    <ion-segment-button value="friends">
      <ion-label>Friend List</ion-label>
    </ion-segment-button>
    <ion-segment-button value="recommended">
      <ion-label>Discover</ion-label>
    </ion-segment-button>
    <ion-segment-button value="new">
      <ion-label>Friend Requests</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- List of Text Items -->
  <ng-container *ngIf="users; else skeletonFriends">
    <ion-list *ngIf="users.length > 0; else noFriendsList">
      <ion-item [detail]="(btnClass == 'arrow-forward')" *ngFor="let user of users; let i = index;" [attr.data-index]="i">
        <ion-avatar slot="start" (click)="goToUserProfile(user.id)">
          <favr-img
            [src]="user.profile.image"
            spinnerSrc="assets/img/user.png"
            imgClass="rounded-circle"
            loaderClass="rounded-circle"
            alt="profile picture"></favr-img>
        </ion-avatar>
        <ion-label (click)="goToUserProfile(user.id)">
          {{user.name}}
          <br>
          <ion-note>@{{user.username}}</ion-note>
        </ion-label>
        <ion-button *ngIf="btnClass != 'arrow-forward'"
                    (click)="handleClick(user, i)"
                    [ngClass]="(btnClass === 'checkmark') ? 'checkmark-btn nav-button' : 'nav-button'">
          <ion-icon [mode]="(btnClass === 'person-add' || btnClass === 'checkmark') ? 'md' : ''" [name]="btnClass"></ion-icon>
        </ion-button>
        <ion-button class="nav-button" *ngIf="secondButton" (click)="rejectFriendRequest(user.id)">
          <ion-icon mode="md" name="close"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ng-template #noFriendsList>
      <ion-title class="ion-text-center ion-margin-top">
        <img src="assets/img/monkey-face.png" alt="Nothing to see here" style="max-width: 75%">
      </ion-title>
    </ng-template>
  </ng-container>

  <ng-template #skeletonFriends>
    <ion-list>
      <ion-item *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

</ion-content>
