<favr-page-header pageTitle="Marketplace" [showSearchBar]="true" [routerOutlet]="routerOutlet">
</favr-page-header>
<ion-content #ionContent>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment">
    <ion-segment-button *ngIf="userRole === Role.VERIFIED_FREELANCER" value="jobs">
      <ion-label>My Jobs</ion-label>
    </ion-segment-button>
    <ion-segment-button value="me" id='my-task-tab'>
      <ion-label>My Tasks</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all">
      <ion-label>Public Feed</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container>
    <favr-marketplace-card *ngFor="let task of marketplaceTasks"
                           [mainMarketplaceTask]="task"
                           (taskActionTaken)="handleTaskActionTaken($event)"
                           [routerOutlet]="routerOutlet"
    ></favr-marketplace-card>
    <br>
    <br>
  </ng-container>

</ion-content>
