.request-task-button-area {
  margin-top: 1rem;
  text-align: center;
}

.center-request-task-button-area {
  margin-top: 90%;
  text-align: center;
}

.request-task-button {
  font-weight: 800;
  width: 196px;
}

ion-segment {
  padding: 1rem;
}
