ion-item.ios {
  --border: 0;
  --inner-border-width: 0 0 0.55px 0;
  --inner-padding-end: 0;
  margin-right: 1rem;
}

.searchbar {
  ::ng-deep .searchbar-input.sc-ion-searchbar-ios {
    border-radius: 50px!important;
  }
}
