<ion-grid>
  <ion-row>
    <ion-col *ngFor="let category of categories" size="6">
      <button #categoryButton type="button" (click)="selectCategory(categoryButton, category)" class="category-button">
        <ion-card class="ion-padding category-card">
          <ion-card-content class="category-card-content">
            <favr-img [src]="category.icon_image" spinnerSrc="assets/img/spinner.gif" imgClass="category-icon" loaderClass="category" alt="category icon"></favr-img>
          </ion-card-content>
          <ion-card-title class="category-title">{{category.name}}</ion-card-title>
        </ion-card>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
