<ion-header>
  <ion-toolbar>
    <ion-buttons class="mobile-only" slot="start">
      <ion-back-button color="primary" icon="arrow-back" (click)="navCtrl.pop()"  mode="md" defaultHref="/app/tabs/marketplace"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="profile">
      {{profile.user.first_name}} {{profile.user.last_name}}
    </ion-title>
    <ion-buttons slot="end" *ngIf="!isOwner" >
      <ion-button (click)="startChat(profile.user.username)"
                  class="nav-button">
        <ion-icon name="chatbubble"></ion-icon>
      </ion-button>
      <ion-button (click)="presentActionSheet()"
                  class="nav-button">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isOwner">
      <ion-button routerLink="/app/chat"
                  routerDirection="forward"
                  class="nav-button">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-button>
      <ion-button (click)="presentOwnerActionSheet()"
                  class="nav-button">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="profile">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list style="margin-bottom: unset;">
    <ion-toolbar class="ion-padding-top web-only">
      <ion-buttons slot="end" *ngIf="!isOwner" >
        <ion-button (click)="startChat(profile.user.username)"
                    class="nav-button">
          <ion-icon name="chatbubbles"></ion-icon>
        </ion-button>
        <ion-button (click)="presentActionSheet()"
                    class="nav-button">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="isOwner">
        <ion-button routerLink="/app/chat"
                    routerDirection="forward"
                    class="nav-button">
          <ion-icon name="chatbubbles"></ion-icon>
        </ion-button>
        <ion-button (click)="presentOwnerActionSheet()"
                    class="nav-button">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="ion-text-center ion-padding-top">
      <div class="ion-margin-bottom img-container">
        <favr-img [src]="profile.image"
                  spinnerSrc="assets/img/user.png"
                  imgClass="rounded-circle"
                  loaderClass="rounded-circle"
                 (click)="viewAttachedPhoto(profile.image, profile.user.first_name + ' ' + profile.user.last_name)"
                 alt="Profile Picture of {{profile.user.first_name}} {{profile.user.last_name}}"></favr-img>
      </div>
      <ion-note>
        @{{profile.user.username}}
        <ion-img *ngIf="profile.user.role == Role.VERIFIED_FREELANCER"
             class="badge"
             src="assets/img/verified.png" alt="This user is a Verified Freelancer"></ion-img>
      </ion-note>
<!--      <p>-->
<!--        <ion-chip [color]="status.class">-->
<!--          <ion-label>{{status.text}}</ion-label>-->
<!--        </ion-chip>-->
<!--      </p>-->
      <br />
      <br />
      <ng-template #star let-fill="fill">
      <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
      </span>
      </ng-template>

      <div class="ion-padding-bottom" *ngIf="rating">
        <ngb-rating [(rate)]="rating" [starTemplate]="star" [readonly]="true" max="5"></ngb-rating>
      </div>
    </div>
    <div class="ion-text-center">
<!--      <section *ngIf="!isOwner">-->
<!--        <ion-button *ngIf="showFriendButton" size="small" style="font-size: 16px;" [disabled]="friendButton.disable" (click)="handleFriendButtonClick()">-->
<!--          <ion-icon slot="start" mode="md" [name]="friendButton.class"></ion-icon>-->
<!--          <p slot="end" *ngIf="!friendButton.disable; else invitationSent">Send Friend Invite</p>-->
<!--          <ng-template #invitationSent>-->
<!--            <p slot="end">Friend Invite Sent</p>-->
<!--          </ng-template>-->
<!--        </ion-button>-->
<!--      </section>-->
      <section [ngClass]="profile.description ? 'ion-padding' : ''">
        {{profile.description}}
      </section>
    </div>
    <hr>
  </ion-list>
  <ion-toolbar *ngIf="profile.user.role === Role.VERIFIED_FREELANCER">
    <ion-segment [(ngModel)]="taskFeed">
      <ion-segment-button value="freelancer">Past Jobs</ion-segment-button>
      <ion-segment-button value="customer">Past Tasks</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ng-container [ngSwitch]="taskFeed">
    <ng-container *ngSwitchCase="'customer'">
      <ng-container class="ion-text-center" *ngIf="profile.user.main_marketplace.length === 0; else tasks">
        <ion-label color="medium" class="no-tasks">
          No Tasks To Display
        </ion-label>
      </ng-container>

      <ng-template #tasks>
        <favr-marketplace-card *ngFor="let task of profile.user.main_marketplace"
                               [mainMarketplaceTask]="task"
                               [routerOutlet]="routerOutlet"
        ></favr-marketplace-card>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'freelancer'">
      <ng-container class="ion-text-center" *ngIf="profile.past_jobs.length === 0; else tasks">
        <ion-label color="medium" class="no-tasks">
          No Past Jobs To Display
        </ion-label>
      </ng-container>

      <ng-template #tasks>
        <favr-marketplace-card *ngFor="let task of profile.past_jobs"
                               [freelancerPastTask]="task"
                               [routerOutlet]="routerOutlet"
        ></favr-marketplace-card>
      </ng-template>
    </ng-container>
  </ng-container>

</ion-content>
