<ion-app>
  <ion-tab-bar *ngIf="tabsPage.tabSlot === 'top' && router.url.includes('/app')" class="web-only" slot="top">
    <ion-buttons>
      <ion-button href="https://askfavr.com" target="_blank">
        <ion-avatar style="--border-radius: none">
          <img src="../assets/brand/favicon.ico" alt="favr logo">
        </ion-avatar>
      </ion-button>
    </ion-buttons>

    <ion-tab-button routerLink="app/tabs/marketplace">
      <ion-icon [color]="router.url === '/app/tabs/marketplace' ? 'primary' : ''" mode="md" name="home"></ion-icon>
      <ion-label [color]="router.url === '/app/tabs/marketplace' ? 'primary' : ''">Marketplace</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="app/tabs/friends">
      <ion-icon [color]="router.url === '/app/tabs/friends' ? 'primary' : ''" name="contacts"></ion-icon>
      <ion-label [color]="router.url === '/app/tabs/friends' ? 'primary' : ''">Friends</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="tabsPage.openRequestPage()">
      <ion-icon name="add-circle-outline" class="icon-button"></ion-icon>
      <ion-label>Request</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="app/tabs/notifications">
      <ion-icon [color]="router.url === '/app/tabs/notifications' ? 'primary' : ''" name="notifications"></ion-icon>
      <ion-label [color]="router.url === '/app/tabs/notifications' ? 'primary' : ''">Notifications</ion-label>
      <ion-badge *ngIf="tabsPage.notificationCount > 0" color="danger">{{tabsPage.notificationCount}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button routerLink="app/tabs/settings">
      <ion-icon [color]="router.url === '/app/tabs/settings' ? 'primary' : ''" name="settings"></ion-icon>
      <ion-label [color]="router.url === '/app/tabs/settings' ? 'primary' : ''">Settings</ion-label>
    </ion-tab-button>

    <ion-buttons>
      <ion-button slot="start" class="nav-button" (click)="openSearchModal()">
        <ion-icon name="search"></ion-icon>
      </ion-button>

      <!--<ion-button routerLink="app/chat" class="nav-button">-->
      <!--<ion-icon name="chatbubbles"></ion-icon>-->
      <!--</ion-button>-->

      <ion-avatar slot="end" routerLink="app/profile/{{profileId}}" style="height: 32px;width: 32px;cursor: pointer">
        <img [src]="profileImage ? profileImage : '../assets/img/user.png'" alt="profile picture">
      </ion-avatar>
    </ion-buttons>
  </ion-tab-bar>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
