.icon {
  margin-right: 20px;
}

.row-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.kill-all-btn {
  margin-left: auto;
  padding-right: 10px;
}
.trashed {
  --background: rgba(0,0,0,0.1);
}
