<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" icon="arrow-back"  mode="md" defaultHref="/app/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Refer a Friend</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list class="ion-padding-top ion-margin-top">
    <img src="../../../../../assets/img/bank.png"
         class="ml-auto mr-auto"
         height="128"
         width="128"
         alt="Earn money"
         style="border-radius: 27%"
    >
    <h2>
      <ion-card-subtitle>Invite Friends</ion-card-subtitle>
      <ion-card-title>Earn $10 Per Referral</ion-card-title>
    </h2>
    <ul>
      <li>Have your friend setup an account with FAVR.</li>
      <li>Both of you will receive $10 to use; on their first task requested.</li>
    </ul>
    <ion-button expand="block" (click)="shareReferral()">
      Share
      <ion-icon slot="end" name="arrow-redo"></ion-icon>
    </ion-button>
    <ion-note>
      <small>
        Note: valid for first 30 days. Earn up to $500 in credit for referrals.
      </small>
    </ion-note>
  </ion-list>
</ion-content>
