ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0;
}

.marketplace-card-distance-away {
  padding-bottom: 1.5rem;
}

.marketplace-detail-icons {
  height: 2.3rem;
}

.item {
  padding: 4px 16px;
}
