<ion-tabs>
  <ion-buttons>
    <ion-button (click)="openRequestPage()" class="icon-button">
      <ion-img [src]="requestButtonIcon"></ion-img>
    </ion-button>
  </ion-buttons>


  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="marketplace" (click)="scrollToTop()">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Marketplace</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
<!--      <ion-badge *ngIf="friendCount > 0" color="danger">{{friendCount}}</ion-badge>-->
    </ion-tab-button>

    <ion-tab-button (click)="openRequestPage()">
      <ion-icon></ion-icon>
      <ion-label>Request</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
      <ion-badge *ngIf="notificationCount > 0" color="danger">{{notificationCount}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
