.tabbar {
  justify-content: center;
}

.tab-button {
  max-width: 200px;
}

.tab-selected {
  border-top: 1px solid var(--ion-color-primary);
}

.icon-button {
  position: absolute;
  left: 50%;
  margin-left: -32px;
  --background: rgb(255,46,0)!important;
  --background: linear-gradient(120deg, rgba(255,0,0,1) 0%, rgba(255,79,0,1) 47%, rgba(255,218,0,1) 100%)!important;
  --border-radius: 50%!important;
  height: 64px;
  width: 64px;
  ion-icon {
    color: white;
    font-size: 64px;
  }
  ion-img {
    height: 32px;
  }
}
