<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Past Payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-list-header>
      PAST PAYMENTS
    </ion-list-header>

    <ion-item *ngFor="let payment of payments" href (click)="goToJob(payment.marketplace_id)" >
      <ion-note slot="end"><small>{{payment.updated_at | amFromUtc | amLocal |  amTimeAgo:true}} ago</small></ion-note>
      <ion-label>
        <h2>${{payment.amount.toFixed(2)}}</h2>
        <p>{{payment.marketplace.description}}</p>
      </ion-label>
    </ion-item>

    <ion-item  *ngIf="isNone">
      <ion-label>
       You have no payment history. :(
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
